@font-face {
    font-family: 'DejaVuSans-Bold';
    src: url('DejaVuSans-Braille-Only.woff') format('woff'),
         url('DejaVuSans-Braille-Only.ttf') format('truetype');
}

.braille-char {
    font-family: 'DejaVuSans-Bold';
}

h1 {
    margin-bottom: 1em;
}

footer {
    margin-top: 3em;
}